@media (max-width: 600px){/*ajusta con un ancho de pantalla minimo de 600 pixeles*/
.Products{
    display: inherit;/*organizar los elementos de forma vertical*/
    height:auto;/*ajuste la altura de forma automatica*/
}
.product{
    margin-top: auto;/*el espaciado entre los objetos producto se ha */
}
.Beneficios{
    display: inherit;/*organizar los elementos de forma vertical*/
    height:auto;/*ajuste la altura de forma automatica*/
}
.Beneficio{
    margin-top: auto;/*el espaciado entre los objetos producto se ha */
}
.Recomendaciones{
    display: inherit;/*organizar los elementos de forma vertical*/
    height:auto;/*ajuste la altura de forma automatica*/
}
.Recomendacion{
    margin-top: auto;/*el espaciado entre los objetos producto se ha */
}
}